.main{
    background: #61dafb;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .btn{
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
main h2{
    font-size: 35px;
}
main P{
     font-size: 35px;
}