.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    max-width: 1400px;
    border: 1px solid mediumblue;
    margin: auto;
}
.hide{
    display: none;
}